{% extends 'base.html' %} {% block 'content' %}
<div class="container">
  <div
    class="row justify-content-center align-items-center"
    style="height: 100%"
  >
    <div class="col-md-6 col-lg-4 w-50">
      <div class="card p-4 shadow-lg">
        <h3 class="text-center mb-4">Iniciar Sesión</h3>

        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
          Tu nombre de usuario y contraseña no coinciden. Por favor, intenta
          nuevamente.
        </div>
        {% endif %} {% if next %} {% if user.is_authenticated %}
        <p>
          Tu cuenta no tiene acceso a esta página. Por favor, inicia sesión con
          una cuenta que tenga acceso.
        </p>
        {% else %}
        <p>Por favor, inicia sesión para ver esta página.</p>
        {% endif %} {% endif %}

        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="mb-3 d-flex flex-column align-items-center">
            <label for="{{ form.username.id_for_label }}" class="form-label"
              >Nombre de Usuario</label
            >
            {{ form.username }} {% if form.username.errors %}
            <div class="text-danger">{{ form.username.errors }}</div>
            {% endif %}
          </div>

          <div class="mb-3 d-flex flex-column align-items-center">
            <label for="{{ form.password.id_for_label }}" class="form-label"
              >Contraseña</label
            >
            {{ form.password }} {% if form.password.errors %}
            <div class="text-danger">{{ form.password.errors }}</div>
            {% endif %}
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-primary">
              Iniciar Sesión
            </button>
          </div>
          <input type="hidden" name="next" value="{{ next }}" />
        </form>

        <p class="text-center mt-3">
          ¿No tienes cuenta? <a href="{% url 'register' %}">Regístrate</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
